html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

textarea{
	resize: none;
}

@font-face{
	font-family:'digital-clock-font';
	src: url('fonts/digital-7.ttf');
 }

body{
	display: flex;
	justify-content: center;
	height: 100vh;
	background-color:bisque;
}

.calculator{
	margin-top: 10%;
	display: flex;
	flex-direction: column;
	height: 500px;
	width: 350px;
	padding: 20px;
	border: 2px solid rgb(59, 133, 161);
	border-bottom: 15px solid rgb(49, 114, 138);
	border-radius: 30px;
	background-color: lightskyblue;
	box-shadow: 10px 15px 5px 0px rgb(240, 194, 138);
}

.top-row{
	display: flex;
	height: 10%;
	margin: 5px;
	margin-bottom: 15px;
}

.logo{
	font: 28px digital-clock-font;
	border-radius: 5px;
	outline: solid rgb(141, 214, 241) 3px;
	box-shadow: inset 1px 2px 4px 0px rgb(59, 133, 161);
	background-color: rgba(120, 166, 194, .2);
	flex: 2;
	margin: 1px;
	text-align: center;
	padding-top: 10px;
}

.solar{
	display: flex;
	justify-content: flex-end;
	flex: 3;
}

.panel {
	display: flex;
	border-radius: 5px;
	outline: solid rgb(150, 219, 245) 3px;
	box-shadow: inset 0px 2px 4px 0px rgb(59, 133, 161);
	background-color: burlywood;
	height: 80%;
	width: 40%;
}

table {
	border-collapse: collapse;
	width: 100%;
	border-radius: 3px;
}

td {
	border-left: solid brown .5px;
	border-top: solid brown .5px;
	width: 20px;
}


.number-display{
	font-family: digital-clock-font;
	border-radius: 10px;
	outline: solid rgb(150, 219, 245) 3px;
	box-shadow: inset 0px 2px 5px 0px rgb(59, 133, 161);
	background-color: rgb(248, 248, 248);
	height: 65px;
	border-top:5px solid grey;
	border-bottom:5px solid lightgrey;
	border-left:5px solid grey;
	border-right:5px solid lightgrey;
	margin: 5px;
	padding-top: 3px;
	padding-bottom: 5px;
	padding-right: 5px;
	text-align: right;
	font-size: 60px;
	color: rgb(1, 54, 1);
	text-shadow: 2px 4px 1px rgb(172, 185, 172);
	text-transform: uppercase;
}

.gap{
	display: flex;
	height:25px;
}

.buttons{
	background-color: rgba(120, 166, 194, .2);
	outline: solid rgb(150, 219, 245) 3px;
	box-shadow: inset 0px 1px 3px rgb(59, 133, 161);
	border-top:2px solid rgb(59, 133, 161);
	border-left:1px solid rgb(59, 133, 161);
	border-right:1px solid rgb(59, 133, 161);
	border-radius: 20px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 5px;
}

.row{
	display: flex;
	margin: 3px;
	width: 100%;
	justify-content: space-around;
}

.button{
	background-color:paleturquoise;
	font-size: 30px;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	margin: 2px;
	border-radius: 20px/15px;
	opacity: 1;
	transition: box-shadow .06s ease-in;
}

.button:hover {
	opacity: .8;
}

.number-button:active{
	box-shadow: none;
	border-top: 3px solid darkgreen;
	border-bottom: 1px solid darkgreen;
}
.operator-button:active{
	box-shadow: none;
	border-top:  3px solid darkblue;
	border-bottom: 1px solid darkblue;
}
.equals:active{
	box-shadow: none;
	border-top:  3px solid darkblue;
	border-bottom: 1px solid darkblue;
}
.number-button{
	border: 2px solid green;
	box-shadow: 0px 3px darkgreen;
}

.operator-button, .equals{
	box-shadow: 0px 3px darkblue;
	border: 2px solid blue;
}

.on{
	color: orangered;
}